---
import ModernCardHorario from './ModernCardHorario.astro'
import CardSecciones from './CardSecciones.astro'

const { horarios } = Astro.props
---

<CardSecciones title="Horarios">
	<ul>
		{
			horarios.map((horario) => (
				<li>
					<ModernCardHorario
						mensaje={horario.Mensaje}
						comision={horario.Comision}
						modalidad={horario.Modalidad}
						dia={horario.Dia}
						hora={horario.Hora}
						url={horario.URL}
						aula={horario.Aula}
						edificio={horario.Edificio}
					/>
				</li>
			))
		}
	</ul>
</CardSecciones>

<style lang="scss">
	ul {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		justify-items: center;
		align-items: start;
		max-width: 100%;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
			max-width: 900px;
		}

		@media (min-width: 1200px) {
			grid-template-columns: repeat(3, 1fr);
			max-width: 1200px;
		}
	}

	li {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		min-height: 320px;
	}
</style>
